@keyframes popup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.dataProb {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 100px;
}
.datatitle{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.dataques{
    margin-top: 20px;
}
.dataSolve{
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(20, 106, 255);
    color: aliceblue;
}

.dataSolve:hover{
    background-color: #6a0d0d;
    animation: popup 0.3s ease;
}