/* SignIn.css */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes popup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*body{
    background-image: repeating-linear-gradient(
        40deg,          
        #1c7afe,         
        #f9fff9 20%,     
        #1c7afe 40%      
    );
    background-size: 200% 200%;
    animation: gradientAnimation 15s linear infinite;
}*/
.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.headtitle2{
    font-size: 36px;
    margin-bottom: 20px;
}


.inputtitle{
    font-size: 18px;
    margin-bottom: 8px;
}

.inputfield1{
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonSignin{
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 110px;
    background-color: #0381ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.buttonSignin:hover {
    background-color: #0056b3;
    animation: popup 0.3s ease;
}

.buttonSignin:active {
    background-color: #0043a3;
}

/* Responsive styles using media queries */
@media screen and (max-width: 960px) {
    .signin {
        margin-top: 5%;
        margin-left: 5%;
        height: 50vh;
        width:  90%;
    }
}
@media screen and (max-width: 768px) {
    .signin {
        margin-top: 5%;
        margin-left: 5%;
        height: 50vh;
        width:  90%;
    }
    input {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }
    label {
        font-size: 16px;
    }
    input {
        font-size: 14px;
    }
    button {
        font-size: 16px;
    }
}